<section class='white'>
  <div class='center-col'>

    <!-- If no episodes display message  -->
    <% if @episodes.empty? %>
      <%= content_tag :h2, "No episodes to play." %>

    <% else %>
    <!-- Else there are episodes  -->

      <!-- Start Player -->
      <div class="audio-player">
        <audio>
          <source src="<%= @episodes.first.audio_url %>" type="<%= @episodes.first.audio_type %>">
        </audio>
        <div class="play-pause-button player-button">
          <%= image_tag 'appbar.control.play.svg', alt: 'Play/Pause' %>
        </div>
        <div class="current-track"><%= @episodes.first.title %></div>
        <div class="previous-button player-button">
          <%= image_tag 'appbar.chevron.left.svg', alt: 'Previous' %>
        </div>
        <div class="next-button player-button">
          <%= image_tag 'appbar.chevron.right.svg', alt: 'Next' %>
        </div>
      </div>
      <!-- End Player -->

      <!-- Start Episodes -->
      <% @episodes.each_with_index do |episode, index| %>
        <%= content_tag :div, class: 'episode', data: {
          "episode-index" => index, "episode-audio-url" => episode.audio_url,
          "episode-id" => episode.id, "episode-audio-type" => episode.audio_type,
          "episode-title" => episode.title, "episode-has-been-played" => "0" } do %>

          <%= content_tag :h3 do %>
            <%= image_tag 'appbarControlPlayOrange.svg', id: index, alt: 'Play/Pause' %>
            <%= episode.title %>
          <% end %>
          <%= content_tag :div, class: "toggle-played" do %>
            <%= image_tag 'appbar.checkmark.uncrossed.svg' %>
            <%= content_tag :strong, "Played" %>
          <% end %> 
          <%= content_tag :p, "Published #{episode.display_pub_date} on #{episode.feed.title}" %>
          <%= content_tag :p, sanitize_for_display(episode.description).html_safe %>
        <% end %>
      <% end %>
      <!-- End Episodes -->
    <% end %>

    <!-- Processing image for when a slow podcast is loalding -->
    <%= image_tag 'processing_circle.gif', class: 'processing_circle show-when-processing', alt: 'processing' %>

  </div>
</section>